
## Software testing results  
The Store Credit App software was tested manually. The results of the tests can be found at: 

https://docs.google.com/spreadsheets/d/1TwhNWDayTUPVcKFxUyk2wlqs_HxGwwEDIiUpr8eefyU/edit?usp=sharing

